@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.hidden {
  display: none !important;
}

.flex-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-color {
  background-color: hsl(228, 100%, 84%);
  color: hsl(243, 100%, 62%);
}

/* common class end */

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 100%, 97%);
}

.main-container {
  display: flex;
  height: 500px;
  width: 900px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* style for overall end */

.Sidebar {
  display: flex;
  padding: 15px;
  width: 300px;
  background-color: grey;
  margin: 10px;
  background-image: url("assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  border-radius: 5px;
}

.steps div {
  padding: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 2px 16px;
  color: hsl(0, 0%, 100%); /*For number**/
  font-weight: 500;
}

.number {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
  /* making circle shape */
  font-size: 0.9em;
  border: 1px solid hsl(0, 0%, 100%);
  padding: 5px;
  width: 28px;
  border-radius: 50%;
  text-align: center;
}

.step {
  display: block;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 0.8em;
  color: hsl(231, 11%, 63%);
  font-weight: 600;
}

.info {
  display: block;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

/* side bar end */

.page-wrapper {
  display: flex;
  padding: 15px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.top-container {
  width: 600px;
  padding: 30px;
}

.title {
  padding-bottom: 30px;
  color: hsl(213, 96%, 18%);
}

.title .header {
  font-weight: 700;
  font-size: 1.6em;
  padding-bottom: 10px;
}

.title .sub-info {
  font-size: 0.8em;
  color: hsl(231, 11%, 63%);
}

/* style for all pages end */

.user-info-page-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.user-info-page-1 .row {
  color: hsl(213, 96%, 18%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.user-info-page-1 .row .error-input {
  color: hsl(354, 84%, 57%);
  justify-self: end;
  font-weight: 500;
  font-size: 0.9em;
}

.user-info-page-1 .row input {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column: 1 / span 2;
  margin-top: 5px;
  padding: 8px;
}

.bottom-bar {
  padding-right: 30px;
  text-align: right;
}

.bottom-bar button {
  padding: 8px 16px;
  background-color: hsl(213, 96%, 18%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-size: 0.7em;
}

.bottom-bar button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* page 1 style end */

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid-container .grid-item {
  display: grid;
  grid-template-rows: 1fr 0.1fr 0.1fr;
  grid-template-columns: 1fr;
  height: 160px;
  border: 1.5px solid hsl(229, 24%, 87%);
  border-radius: 8px;
  padding: 8px;
  background-color: hsl(0, 0%, 100%);
}

.grid-container .grid-item:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: 1.5px solid hsl(243, 100%, 62%);
}

.clicked {
  background-color: hsl(217, 100%, 97%) !important;
  border: 1.5px solid hsl(243, 100%, 62%) !important;
}

.grid-container .grid-item p {
  text-align: left;
}

.plan-choice {
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
}

.bottom-bar-2 {
  padding: 2px;
  margin: 0px 28px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

/* page 2 style end */

.user-info-page-3 .grid-container {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.user-info-page-3 .grid-container .grid-item {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  height: auto;
  padding: 20px 0px;
}

.user-info-page-3 .grid-container .grid-item label {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
}

.user-info-page-3 .grid-container .grid-item .price {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
  padding-right: 5px;
}

/* page 3 style end */

.payment-detail {
  background-color: grey;
}

.top-grip-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.2fr;
  grid-row-gap: 3px;
  padding: 25px;
}

.top-grip-container .plan {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.top-grip-container .change-plan {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.top-grip-container .plan-price {
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: end;
}

.bottom-grip-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.2fr;
  grid-row-gap: 10px;
  padding: 25px;
}

.bottom-grip-container .storage-price,
.bottom-grip-container .service-price {
  justify-self: end;
}

.total-spend {
  padding: 25px;
}

/* page 4 style end */

@media screen and (max-width: 375px) {
  /* Styles for screens up to 375pxpx wide */
  .main-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: hsl(229, 24%, 87%);
  }

  .Sidebar {
    width: 100%;
    height: 200px;
    margin: 0px;
    justify-content: center;
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    border-radius: 0px;
  }

  .steps {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
  }

  .steps div {
    display: flex;
    padding: 0px 10px;
    /* preseted the width in desktop ver */
  }

  .step {
    display: none;
  }

  .info {
    display: none;
  }

  .title {
    padding-bottom: 10px;
  }

  /* sidebar style end */

  .page-wrapper {
    padding: 0;
  }

  .flex-page {
    height: 100%;
    width: 100%;
    justify-content: flex-end;
  }

  .top-container {
    background-color: hsl(0, 0%, 100%);
    width: auto;
    position: absolute;
    top: 80px;
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
  }

  .bottom-bar {
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
  }

  /* all page style end */

  .grid-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    font-size: 0.8em;
  }

  .grid-container .grid-item {
    height: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0.2fr 1fr;
    grid-gap: 5px;
  }

  .grid-container .grid-item svg {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
  }

  .bottom-bar-2 {
    margin: 0;
    padding: 10px;
  }

  /* page 2 style end */

  .user-info-page-3 .grid-container .grid-item {
    padding: 10px 0px;
  }

  .user-info-page-3 .grid-container .grid-item p {
    font-size: 0.85em;
  }

  /* page 3 style end */
}
